body{
    background: url(./images/tile.jpg)
}
.space{
    height:25px;
}

.container{
    background: #fff8
}
#stage{ min-height:300px;}
#stage .card{
    min-height:200px;
    max-width: 18rem;
}


